<ion-header>
  <ion-toolbar>
  	<ion-buttons slot="start">
      <ion-back-button defaultHref="/voiture"></ion-back-button>
    </ion-buttons>
    <ion-title>reservation</ion-title>
  </ion-toolbar>
</ion-header>

<ion-content>

	<div id="container">
		
		<form [formGroup]="reserve" (ngSubmit)="reserver()">

			    	
			    	<ion-grid>
			    		
			    		<ion-row>
			    			<ion-col size="12">
			    				<ion-item>  
							      <ion-label position="floating"><font style="font-size: 13px;">Delai</font></ion-label>  
							      <ion-input type="number" formControlName="delai"></ion-input>  
							    </ion-item>
			    			</ion-col>
			    		</ion-row>

			    		<ion-row>
			    			<ion-col size="12">
								<ion-item>
								    <ion-label class="genre">Prendre chauffeur</ion-label>
								    <ion-select placeholder="Choisir" formControlName="chauffeur">
								      <ion-select-option value="oui">Oui</ion-select-option>
								      <ion-select-option value="non">Non</ion-select-option>
								    </ion-select>
								</ion-item>
							</ion-col>
			    		</ion-row>

			    		<ion-row>
			    			<ion-col size="12">
			    					<ion-item>
									    <ion-label class="genre">Mode de paiement</ion-label>
									    <ion-select placeholder="Choisir" formControlName="paiement">
									      <ion-select-option value="à la livraison">À la livraison</ion-select-option>
									      <ion-select-option value="Mobile Money">Mobile Money</ion-select-option>
									    </ion-select>
									</ion-item>
			    			</ion-col>
			    		</ion-row>

			    		<ion-row>
				          	<ion-col>
						  		<ion-button type="submit" color="primary" style="width: 150px;"><font size="3px">S'INSCRIRE</font></ion-button>
						    </ion-col>
						</ion-row>

			    	</ion-grid>
			    


	          

		</form>

	</div>

</ion-content>

