
<ion-content>

   

	<div id="container">

	<div class="container1">
	    <img src="../../assets/logo.png">
	</div>
		<form [formGroup]="sign" (ngSubmit)="signin()">


	         	<ion-item>  
			      <ion-label position="floating"><font style="font-size: 13px;">Nom: </font></ion-label>  
			      <ion-input type="text" formControlName="nom" required></ion-input>  
			    </ion-item>

			    <ion-item>  
		 	      <ion-label position="floating"><font style="font-size: 13px;">Prénom: </font></ion-label>  
			      <ion-input type="text" formControlName="prenom" requred></ion-input>  
			    </ion-item>

			    <ion-item>  
			      <ion-label position="floating"><font style="font-size: 13px;">Email: </font></ion-label>  
			      <ion-input type="email" formControlName="email" required></ion-input>  
			    </ion-item>

			    <ion-item>  
			      <ion-label position="floating"><font style="font-size: 13px;">Contact: +225</font></ion-label>  
			      <ion-input type="text" formControlName="num_telephone" required></ion-input>  
			    </ion-item>

			     <ion-item>  
			      <ion-label position="floating"><font style="font-size: 13px;">Profession: </font></ion-label> 
			      <ion-input type="text" formControlName="proffession" required></ion-input>  
			    </ion-item>

			     <ion-item>  
			      <ion-label position="floating"><font style="font-size: 13px;">Ville ou commune: </font></ion-label> 
			      <ion-input type="text" formControlName="ville" required></ion-input>  
			    </ion-item>
			        
			    <ion-item>  
			      <ion-label position="floating"><font style="font-size: 13px;">Mot de passe: </font></ion-label> 
			      <ion-input type="password" formControlName="psswd" required></ion-input>  
			    </ion-item>

			    


	          <ion-row>
	          	<ion-col>
			  		<ion-button type="submit" color="primary" style="width: 150px;"><font size="3px">S'INSCRIRE</font></ion-button>
			    </ion-col>
			  </ion-row>

		</form>


 	</div>

</ion-content>
