
<ion-content>

	<div id="container">


		<form [formGroup]="sign" (ngSubmit)="signin()">


	         	<ion-item>  
			      <ion-label position="floating"><font style="font-size: 13px;">Nom: </font></ion-label>  
			      <ion-input type="text" formControlName="nom"></ion-input>  
			    </ion-item>

			    <ion-item>  
		 	      <ion-label position="floating"><font style="font-size: 13px;">Prénom: </font></ion-label>  
			      <ion-input type="text" formControlName="prenom"></ion-input>  
			    </ion-item>

			    <ion-item>  
			      <ion-label position="floating"><font style="font-size: 13px;">Email: </font></ion-label>  
			      <ion-input type="email" formControlName="email"></ion-input>  
			    </ion-item>

			    <ion-item>  
			      <ion-label position="floating"><font style="font-size: 13px;">Contact: +225</font></ion-label>  
			      <ion-input type="text" formControlName="contact"></ion-input>  
			    </ion-item>

			     <ion-item>  
			      <ion-label position="floating"><font style="font-size: 13px;">Profession: </font></ion-label> 
			      <ion-input type="text" formControlName="profession"></ion-input>  
			    </ion-item>

			     <ion-item>  
			      <ion-label position="floating"><font style="font-size: 13px;">Ville ou commune: </font></ion-label> 
			      <ion-input type="text" formControlName="city"></ion-input>  
			    </ion-item>
			        
			    <ion-item>  
			      <ion-label position="floating"><font style="font-size: 13px;">Mot de passe: </font></ion-label> 
			      <ion-input type="password" formControlName="password"></ion-input>  
			    </ion-item>

			    


	          <ion-row>
	          	<ion-col>
			  		<ion-button type="submit" color="primary" style="width: 150px;"><font size="3px">S'INSCRIRE</font></ion-button>
			    </ion-col>
			  </ion-row>

		</form>


 	</div>

</ion-content>
