<ion-header>
  <ion-toolbar>
  	<ion-buttons slot="start">
      <ion-back-button defaultHref="/categorie-voiture"></ion-back-button>
    </ion-buttons>
    <ion-title>Voiture</ion-title>
  </ion-toolbar>
</ion-header>

<ion-content>

<ion-refresher slot="fixed" disabled="false" (ionRefresh)="reload($event)">  
    <ion-refresher-content  
    pullingIcon="arrow-dropdown"  
    pullingText="Pull to refresh"  
    refreshingSpinner="dots"  
   ></ion-refresher-content>  
  </ion-refresher> 


	<ion-grid>

	    <div *ngIf="data;else spinner">
		<ion-row *ngFor="let car of data; let index = index">

			<ion-col size="12" *ngIf="car.categorie == data['categorie'] && car.disponible == 1">
				

				<ion-card>
						
						<ion-card-header>
								<button ion-item (click)="redirect(car.id)" >
								<img src="../../assets/{{ car.image }}"  width="300px" height="120px">
								</button>
							<ion-card-title> {{ car.nom }}</ion-card-title>
							<ion-card-subtitle>{{ car.modele }} <ion-label color="danger" style="float: right;">{{ car.Prix_location }} FCFA</ion-label></ion-card-subtitle>
						</ion-card-header>
						
				</ion-card>

            </ion-col>
			

		</ion-row>
		</div>
	</ion-grid>

</ion-content>

<ng-template #spinner>
    <ion-spinner name="dots" style="width:200px;height:300px;margin-left:30%"></ion-spinner>
</ng-template>
