<ion-header>
  <ion-toolbar>
    <ion-title>Categorie de Voitures</ion-title>
  </ion-toolbar>
</ion-header>

<ion-content>

	<div id="container">

	<ion-card>
      <button ion-item (click)="Evenements()" id="evenements">
      <ion-card-header>

        <ion-card-title>
          <ion-label><h3><strong><font color="#4e76e7">{{ evenements }}</font></strong></h3></ion-label>
        </ion-card-title>

      </ion-card-header>
      </button>
    </ion-card>


    <ion-card>
      <button ion-item (click)="Affaire()" id="affaire">
      <ion-card-header>

        <ion-card-title>
          <ion-label><h3><strong><font color="#4e76e7">{{ affaire }}</font></strong></h3></ion-label>
        </ion-card-title>

      </ion-card-header>
      </button>
    </ion-card>

    <ion-card>
      <button ion-item (click)="Balade()" id="balade">
      <ion-card-header>

        <ion-card-title>
          <ion-label><h3><strong><font color="#4e76e7">{{ balade }}</font></strong></h3></ion-label>
        </ion-card-title>

      </ion-card-header>
      </button>
    </ion-card>

    <ion-card>
      <button ion-item (click)="Vacances()" id="vacances">
      <ion-card-header>

        <ion-card-title>
          <ion-label><h3><strong><font color="#4e76e7">{{ vacances }}</font></strong></h3></ion-label>
        </ion-card-title>

      </ion-card-header>
      </button>
    </ion-card>
    </div>
</ion-content>
