<ion-header>
  <ion-toolbar>
    <ion-title>Categorie de Voitures</ion-title>
  </ion-toolbar>
</ion-header>

<ion-content>

	<div id="container">

	    <ion-card>
          <button ion-item (click)="finder(4)" id="evenements">
          <ion-card-header>
            <img src="../../assets/categorie_voiture/evenement.jpeg"  width="280px" height="100px">
            <ion-card-title>
              <ion-label><h3><strong><font color="#4e76e7">evenements </font></strong></h3></ion-label>
            </ion-card-title>

          </ion-card-header>
          </button>
      </ion-card>


    <ion-card>
        <button ion-item (click)="finder(2)" id="affaire">
        <ion-card-header>
          <img src="../../assets/categorie_voiture/affaire.jpeg"  width="280px" height="100px">
          <ion-card-title>
            <ion-label><h3><strong><font color="#4e76e7">affaire </font></strong></h3></ion-label>
          </ion-card-title>

        </ion-card-header>
        </button>
    </ion-card>

    <ion-card>
      
      <button ion-item (click)="finder(4)" id="balade">
      <ion-card-header>
        <img src="../../assets/categorie_voiture/balade.jpeg"  width="280px" height="100px">
        <ion-card-title>
          <ion-label><h3><strong><font color="#4e76e7"> balade </font></strong></h3></ion-label>
        </ion-card-title>

      </ion-card-header>
      </button>
    </ion-card>

    <ion-card>
      <button ion-item (click)="finder(5)" id="vacances">
      <ion-card-header>
        <img src="../../assets/categorie_voiture/vacances.jpeg"  width="280px" height="100px">
        <ion-card-title>
          <ion-label><h3><strong><font color="#4e76e7"> vacances </font></strong></h3></ion-label>
        </ion-card-title>

      </ion-card-header>
      </button>
    </ion-card>
    <div *ngIf="this.res">
    <ion-button ion-item (click)="print()">
           Voir ma reservation
    </ion-button>
    </div>

    
</div>
</ion-content>
