

<ion-content>


<ion-refresher slot="fixed" disabled="false" (ionRefresh)="reload($event)">  
    <ion-refresher-content  
    pullingIcon="arrow-dropdown"  
    pullingText="Pull to refresh"  
    refreshingSpinner="dots"  
   ></ion-refresher-content>  
  </ion-refresher> 
  

	<div class="container1">

	    <img src="../../assets/logo.png">
	    
	</div>

  <div id="container">

  		<form [formGroup]="connecter" (ngSubmit)="login()">
  			

  			<div class="rounded-pill border border-dark border m-auto" style="width: 250px;"><ion-input type="text" class="w-75 m-auto" placeholder="Numéro de téléphone" formControlName="contact"></ion-input></div><br>

	        <div class="rounded-pill border border-dark border-3 m-auto" style="width: 250px;"><ion-input type="password" class="w-75 m-auto" placeholder="mot de passe" formControlName="password"></ion-input></div>

	        <ion-button color="primary" type="submit" style="width: 150px; margin-top: 10px;"><font size="5px">Go.</font></ion-button>


  		</form>
         
          

 </div>

 <div id="container2">
  <p style="font-size: 12px;">Pas de compte ? <a routerLink="/inscrire">S'inscrire</a></p>
 </div>

</ion-content>
